<% if @word.photo != "" %>
  <style>
    body {background-image: url("<%= @word.photo %>");}
  </style>
<% end %>
<body>
  <div class="row">
    <div class="col-xs-5 col-offset-1">
      <a href="/"><button class="btn">Home</button></a>
    </div>
    <div class="col-xs-6">
      <form class="" action="/photo/delete/<%= @word.word %>" method="post">
        <button type="submit" class="btn">Remove Photo</button>
      </form>
    </div>
  </div>

  <h2><%= @word.word %></h2>
    <ol>
      <% @word.definition.each do |definition| %>
        <% if definition != ""%>
          <li><%= definition %></li>
        <% end %>
      <% end %>
    </ol>

  <h3>Add a definition to word:</h3>
  <div class="hide error">
    <h4>Input Error</h4>
  </div>
  <br>
  <form action="/word/<%= @word.word %>" method="post">
    <div class="row">
      <div class="form-group col-xs-7">
        <input type="text" name="definition" class="form-control" placeholder="Add Definition">
      </div>
      <div class="col-xs-5">
        <button type="submit" class="btn define">Add</button>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-7">
        <input type="text" name="photo" class="form-control" placeholder="Add Photo">
      </div>
      <div class="col-xs-5">
        <button type="submit" class="btn photo">Add</button>
      </div>
    </div>
  </form>
</body>
